:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #1a1a1a;
}

#root {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
}

code {
  font-family: 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
}
